<!-- Toolbar -->
<div class="toolbar">
  <img
    width="120"
    alt="Angular Logo"
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png"
  />
  <div>
    <input placeholder="Search" />
  </div>
  <ul>
    <li>
      <a href="#"
        ><mat-icon aria-label="account icon">account_circle</mat-icon></a
      >
    </li>
    <li>
      <a href="#"
        ><mat-icon aria-label="cart icon">add_shopping_cart</mat-icon></a
      >
    </li>
  </ul>
</div>

<div class="content" role="main"></div>

<!-- Footer -->
<footer>
  <div class="comapnyInfo">
    <div class="subscribe">
      <img
        width="120"
        alt="Angular Logo"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png"
      />
      <label>Subscribe Now</label>
      <span
        >Learn about new offers and get more deals by joining our
        newsletter</span
      >
      <div>
        <input placeholder="Email address" />
        <button>Subscribe</button>
      </div>
    </div>
    <div class="delivery">
      <label>Delivery Charges</label>
      <span>UAE - AED 15 | Oman - AED 30 | Free shipping over AED 200</span>
    </div>
  </div>

  <div class="contacts">
    <label>Reach us</label>
    <ul>
      <li>Information 1</li>
      <li>Information 2</li>
      <li>Information 3</li>
    </ul>
  </div>
  <div class="categories">
    <label>Categories</label>
    <ul>
      <li>Information 1</li>
      <li>Information 2</li>
      <li>Information 3</li>
    </ul>
  </div>
  <div class="help">
    <label>Help desk</label>
    <ul>
      <li>Information 1</li>
      <li>Information 2</li>
      <li>Information 3</li>
    </ul>
  </div>
</footer>

<router-outlet></router-outlet>
